@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Updater</h1>
    <div>
        @Html.ActionLink("Ir a la lista de territorios", "Index", "Territories")
    </div>
    <div>
        @Html.ActionLink("Ir a la lista de empleados", "Index", "Territories")
    </div>
</div>

